body{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
}

.word2space{
    margin-left: 10px;
}

#header{
    color: #D91B5C;
    background-color: #fff;
    height: 72px;
    padding-left: 50px;
    margin-top: 0px;
    margin-bottom: 60px;
    border-bottom: 3px solid #D91B5C;
}
#rotaract{
    width: 280px;
    float: left;
    padding-left: 20px;
}
img#headerlogo{
    width: 120px;
    height: 50px;
}
#logo{
    position: relative;
    top: 15px;
    float:left;
}
#linkan{
    position: relative;
    float: left;
    margin-left: 7px;
    font-size: 20px;
    top: 28px;
}

#headerimg {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    border-bottom: 5px solid #D91B5C;
}

img.cover_img{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#tags .tag1 a, #tags .tag2 a, #tags .tag3 a{
    position: relative;
    text-decoration: none;
    float: right;
    text-align: center;
    margin-right: 30px;
    top: 25px;
    color: #D91B5C;
}

.tags a:hover{
    color: #262626;
}

#keywords, #gallerydoor, #contact{
    padding-left: 20px;
}

.box1{
    background: #D91B5C;
}

.box2{
    background: #D91B5C;
}

.box3{
    background: #D91B5C;
}

.box4{
    background: #F7A81B;
}


.box1 h2, .box2 h2, .box3 h2, .box4 h2{
    margin: 0;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.box1 h3, .box2 h3, .box3 h3, .box4 h3{
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 20px;
    color: #333333;
    text-align: justify;
    opacity:0;
    transition: 1s;
}

.box1 h3{
    background: #fff;
}

.box2 h3{
    background: #fff;
}

.box3 h3{
    background: #fff;
}

.box4 h3{
    background: #fff;
}

.box1:hover h3, .box2:hover h3, .box3:hover h3, .box4:hover h3{
    opacity:0.9;
}

/* IMAGES */

/*.gallerydoor div{
    float: left;
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
}*/

/*.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
*/


.view {
    overflow: hidden;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {

    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.view img.tall {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.view img.square {
    max-width: 100%;
    max-height: 100%;
}
.view h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: justify;
}


.view img {
    transition: all 0.3s ease-in-out;
}
.view .mask {
    background-color: rgba(146,96,91,0.3);
    transform: translateX(-300px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.view h2{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view p{
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
}

.view:hover .mask {
    transform: translateX(0px);
}
.view:hover img {
    transform: translateX(300px);
    transition-delay: 0.1s;
}
.view:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}

figure{
    margin: 0;
}

.members{
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.card1, .card2{
    width: 40%;
    float: left;
    margin-right: 10px;
    font-family: Georgia, serif;
}

.profile{        
    background-image:url("img/profile.jpg");
    width: 200px;
    height: 300px;
}

.card1 .profile p, .card1 .profile p{
    font-size: 14px;
}

.card1 .profile img, .card2 .profile img{
    top:10%;
    left: 50%;
    border-radius: 50%;
}
/* Smartphones (portrait and landscape) ———– */
@media screen and (max-width : 480px) {
    #all{
        min-width: 480px;
    }

    #header{
        position: center;
    }
    
    #tags{
        display: none;
    }

    #keywords, #gallerydoor, #contact{
        width: 100%;
        margin: auto;
        overflow: auto;
    }
    .box1, .box2, .box3, .box4{
        float: left;
        font-size: 14px;
        width: 310px;
        height: 310px;
        margin: 10px;
        position: relative;
    }
    .box1 img, .box2 img, .box3 img, .box4 img{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .boxes div.box5 img{
        display: none;
    }
    .gallerydoor{
        width: 100%;
        margin: auto;
        text-align: justify;
        -ms-text-justify: distribute;
        text-justify: distribute;
    }

    #footer{
        display: none;
    }
}

@media screen and (min-width : 481px) and (max-width : 899px) {
    #all{
    }

    #header{
        width: 100%;
    }
    
    #tags{
        display: none;
    }

    #keywords, #gallerydoor, #contact{
        width: 90%;
        margin: auto;
        overflow: auto;
    }

    .box1, .box2, .box3, .box4{
        float: left;
        font-size: 14px;
        width: 310px;
        height: 310px;
        margin: 10px;
        position: relative;
    }
    .box1 img, .box2 img, .box3 img, .box4 img{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .boxes div.box5 img{
        display: none;
    }

    .gallerydoor{
        width: 90%;
        margin: auto;
        text-align: justify;
        -ms-text-justify: distribute;
        text-justify: distribute;
    }

    #footer{
        margin-top: 50px;
        overflow: hidden;
        background-color: #262626;
        color:#fff;
        font-size: 20px;
        font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    }

    #footer p{
        margin-left: 140px;
        margin-top: 50px;
        padding-bottom: 50px;
    }

}
/* Desktops and laptops ———– */
@media screen and (min-width : 900px) {
    #body{
    }

    #all{
    }

    #header{
        width: 100%;
    }

    #tags{
        width: 60%;
        padding-right: 100px;
        float: right;
    }

    #keywords, #gallerydoor, #contact{
        width: 100%;
        margin-bottom: 100px;
        overflow: auto;
    }
    .boxes{
        width: 90%;
        margin: auto;
        position: center;
        margin-bottom: 50px;
    }

    .boxes2{
        width: 90%;
        margin: auto;
        position: center;
    }

    .box1, .box2, .box3, .box4, .box5, .view{
        float: left;
        font-size: 14px;
        width: 300px;
        height: 300px;
        margin-right: 15px;
        margin-bottom: 15px;
        position: relative;
    }
    .box1 img, .box2 img, .box3 img, .box4 img, .box5 img{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    
    /*.gallerydoor{
        border-top: 5px solid #D91B5C;
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        -ms-text-justify: distribute;
        text-justify: distribute;
    }
*/
    #footer{
        margin-top: 50px;
        overflow: hidden;
        background-color: #262626;
        color:#fff;
        font-size: 20px;
        font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    }

    #footer p{
        margin-left: 140px;
        margin-top: 50px;
        padding-bottom: 50px;
    }
}

