body{
    font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;

}

@media screen and (max-width: 1020px){
    #pagewrap{
        width:84%;
    }
    #header{
        width: 94%;
    }
    #logo{
        width: 20%;
        float: left;
    }
    #content_tag{
        width: 70%;
    }
    .content{
        width: 90%;
    }
    .tag{
        float: right;
    }
    
}

@media screen and (max-width: 700px){
    .content{
        width: auto;
        float: none;
    }
    #logo{
        width: auto;
        float: none;
    }
    #content_tag{
        width: auto;
        float:none;
    }
}

@media screen and (max-width: 480px){
    #header{
        height: auto;
    }
    h1{
        font-size: 24px;
    }
    #content_tag{
        display: none;
    }
}
