body{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
}

.word2space{
    margin-left: 10px;
}

#header{
    color: #D91B5C;
    height: 72px;
    border-bottom: 3px solid #D91B5C;
}
#rotaract{
    width: 280px;
    float: left;
    padding-left: 20px;
}
img#headerlogo{
    width: 120px;
    height: 50px;
}
#logo{
    float:left;
}
#linkan{
    position: relative;
    float: left;
    margin-left: 10px;
    font-size: 20px;
    top: 15px;
}

#tags .tag1 a, #tags .tag2 a, #tags .tag3 a{
    position: relative;
    text-decoration: none;
    float: right;
    text-align: center;
    margin-right: 30px;
    top: 15px;
    color: #D91B5C;
}
/* Smartphones (portrait and landscape) ———– */
@media screen and (max-width : 480px) {
    #all{
        min-width: 480px;
    }

    #header{
    }
    
    #tags{
        display: none;
    }

    #content{

    }
    #footer{
    }
}

@media screen and (min-width : 481px) and (max-width : 768px) {
    #all{
    }

    #header{
        width: 100%;
    }
    
    #tags{
        display: none;
    }

    #content{

    }
    #footer{
    }
}
/* Desktops and laptops ———– */
@media screen and (min-width : 769px) {
    #body{
    }

    #all{
    }

    #header{
        width: 100%;
    }

    #tags{
        width: 60%;
        float: right;
    }

    #content{

    }
    #footer{
    }

}

